html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background: url(../images/ignasi_pattern_s.png);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	width: 90%;
}

/*General Styles
*/
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

a {
	transition: color 0.3s;
}

a:hover {
	color: #4aaaa5;
}

main {
	flex: 1 0 auto;
}

/*Header Styles*/

header {
	background: white;
	border-bottom: 2px #cccccc solid;
}

h1 {
	margin: 0;
	background: #4aaaa5;
	color: white;
	padding: 30px;
}

header .wrapper {
	display: flex;
	position: relative;
}

/*Nav Styles*/

nav {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul a {
	text-decoration: none;
	margin: 15px;
}

nav ul li {
	border-right: 1px #777777 solid;
}

nav ul li:last-child {
	border-right: none;
}

/*Page Styles*/

section {
	background-color: white;
	padding: 30px;
	margin: 40px 0px 40px;
	border: 1px #dddddd solid;
}

h2 {
	color: #4aaaa5;
	border-bottom: #dddddd 3px solid;
	padding-bottom: 25px;
	margin-top: 5px;
}

/*About Me Section*/

#about-me figure {
	float: left;
	animation: turning 10s infinite;
}

#about-me figure img {
	width: 150px;
}

div.bio p {
	line-height: 30px;
}

/*Portfolio Section*/

#portfolio figure {
	width: calc(33.33% - 20px);
	margin: 10px;
	position: relative;
	border: none;
	transition: border 0.2s ease-in-out;
}

#portfolio figure:hover {
	border: #666 5px solid;
}

#portfolio figcaption {
	position: absolute;
	bottom: 5%;
	top: 70%;
	right: 0;
	left: 0;
	background: #4aaaa5;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery  {
	display: flex;
	flex-wrap: wrap;
}

.gallery img {
	max-width: 100%;
	display: block;
}

/*Contact Section*/

input, textarea {
	width: 100%;
	border: #dddddd 1px solid;
}

input {
	height: 35px;
	padding: 10px;
}

label p {
	margin-bottom: 5px;
}

input[type=submit] {
	width: 100px;
	height: 40px;
	color: white;
	background: #4aaaa5;
	border: none;
	margin: 20px 0px 0px;
	transition: background 0.3s ease-in-out;
}

input[type=submit]:hover {
	background: #666666;
}

/*Footer*/

footer {
	background: #666666;
	border-top: #4aaaa5 5px solid;
	height: 60px;
	position: relative;
	flex-shrink: 0;

}

footer p {
	color: #dddddd;
	font-size: 10px;
	position: absolute;
	right: 50%;
	bottom: 0;
	padding-bottom: 10px;
}

/*Animation*/

@keyframes turning {

	25% {
		transform: rotate(-5deg);
	}

	75% {
		transform: rotate(5deg);
	}
}

/*Media Queries*/

@media only screen and (max-width: 980px) {

	/*Page Styles*/

	section {
		width: 70%;
	}

		/*Portfolio Styles*/

	#portfolio figure {
	width: calc(50% - 20px);
	margin: 10px;

	}	
}

@media only screen and (max-width: 760px) {

	section {
		width: 100%;
	}

}


@media only screen and (max-width: 640px) {

	/* Header Styles*/

	header .wrapper {
		flex-direction: column;
		width: 100%;
	}

	nav {
		width: 100%;
		position: static;
	}

	nav ul {
		width: 100%;
		text-align: center;
		justify-content: center;
		padding-left: 0;
	}

	h1 {
		width: 100%;
		text-align: center;
	}

	section {
		width: 100%;
	}

	/*About Me*/

	#aboutme figure {
		float: none;
	}

	#about-me figure img {
		width: 100%;
	}

	/*Portfolio Styles*/

	#portfolio figure {
	margin: 10px;
	width: 100%;

	}	

	.gallery {
		display: block;
	}

	.gallery img {
	width: 100%;
	height: 100%;	

	}

	/*Footer*/

	footer p {
		right: 45%;
	}

}



